extends layout 

block content
    main
    h2 Add Test
    .container
        article.input-row
        h3 Test Info
        section
            label(for='name') Name 
            input#name.underline-input(type='text' name='name')
        section
            label(for='description') Description 
            input#description.underline-input(type='text' name='description')
        section
            button#save.font-clear Save
        article#action.input-row
        h3 Action
        section
            label(for='selected-method') Method
            select#selected-method(name='selected-method')
            option(value='GET') GET
            option(value='POST') POST
            option(value='PUT') PUT
            option(value='DELETE') DELETE
        section
            label(for='url') URL
            input#url(required='' pattern='https?:\/\/(?:www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b(?:[-a-zA-Z0-9()@:%_\+.~#?&\/=]*)$' type='text' name='url')
        section
            button#send-test.font-clear Send
        article.input-row
        h3 Body
        section
            label(for='key') Key
            input#key(type='text' name='key')
        section
            label(for='value') Value
            input#value(type='text' name='value')
        section
            button#add-values.font-clear Add
        p#body-build(type='text' name='body')
        article.input-row
        h3 Headers
        section
            label(for='headers')
            | Headers
            input#headers(type='text' name='headers' value="{'Content-Type': 'application/json'}")
