doctype html
html
  head
    title APITester
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/form.css')
    script(async='' src='./javascripts/mh-dyno-data.js')
  header
    h1
      | #{user.nickname}
    nav
      a(href='/profile') Profile
      a(href='/add-test') Add Test
      a(href='/login') Login
      a(href='/logout') Logout
  body
    block content