@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
input,select {
    font-size: 1.25rem;
    border: solid 1px #ccc;
    border-radius: 0.5rem;
    line-height: 2;
    border: solid 1px #ddd;
    border-bottom: solid 1px blueviolet;
    color: #666;
    padding: 0 0.5rem;
}
select {
    height: 100%;

}

.underline-input {
    border: solid 1px #ddd;
    border-bottom: solid 1px blueviolet;
}

.input-row {
    display: flex;
    flex-direction: row;
}

.input-row section {
    margin: 1rem 0;
}

.input-row section:nth-child(2) select,
.input-row section:nth-child(2) input {
    border-radius: 0.5rem 0 0 0.5rem;
    
}



.input-row section:nth-child(3) select,
.input-row section:nth-child(3) input {
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: none;
}

.input-row {
    background: linear-gradient(to right, white 0% , #00000007 15%, #00000007 85%, white 100%);
    /* background-color: #fefefe; */
    /* box-shadow: 0px 0 10px -9px black; */
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
    margin: 0;
    min-width: 100%;
}

.input-row section label {
    padding-left: .5rem;
}

button {
    margin-top: auto;
    font-size: 1.25rem;
    font-weight: bold;
    width: auto;
    padding: .6rem .2rem .2rem 1.5rem;
    background-color: blueviolet;
    /* color: white; */
    border: none;
    border-radius: 3px;
    margin-left: 1rem;
    transition: all .2s ease-in-out;
}
button:hover {
    background-color: #8a2be2cc;
    color: #333;
    cursor: pointer;
}
button#save {
    background: url('/images/save.png') no-repeat;
}
button#send-test {
    background: url('/images/send.png') no-repeat;
}

button#add-values {
    background: url('/images/add.png') no-repeat;
}

button#send-test:focus {
    background: url('/images/sent.png') no-repeat;
}

section {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
}
main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.container {
    width: 70vw;
    align-self: center;
}

.input-row h3 {
    width: 20%;
}

.input-row section:nth-child(2) {
    width: 20%;
}

.input-row section:nth-child(3) {
    width: 60%;

}

.body-build {
    background-color: #333;
}
.input-invalid {
    border-bottom: solid 2px red;
    background-color: #faa2;
}
.input-valid {
    border-bottom: solid 2px green;
    background-color: #afa2;
}


.half-width {
    width: 50%;
}
.font-clear {
    color: transparent;
}

@media screen and (max-width: 768px) {
    
.container {
    width: 100vw;
    align-self: center;
}
    /* .input-row section:nth-child(1) {
        width: 100%;
    }
    .input-row section:nth-child(2) {
        width: 100%;
    }
    .input-row section:nth-child(3) {
        width: 100%;
    } */
}
    
}