body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #eee;
  background: rgba(51, 51, 51, 1);
}

a {
  color: #00B7FF;
}

input {
  margin: 10px 0;
  border: none;
  padding: .5rem 0 .5rem 1rem;
  border-radius: 4px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .5);
  font-size: larger;
  width: 100%;
}
input#body {
  background: #2222;
}

label {
  width: 100%;
  position: relative;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100%;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .5);
  padding: 0;
}

fieldset:nth-child(1) {
  border-radius: 5px 0 0 5px;
}

fieldset label{
  background-color: #00B7FF;
  height: 100%;
  padding: .2rem 0 .2rem .5rem;
  margin: 0;
  color: #333;
  font-weight: bolder;
  display: flex;
  width: 100%;
}

fieldset section:nth-child(1) label:nth-child(1) {
  border-radius: 10px 0 0 0;
}

fieldset section {
  flex: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
}

fieldset section input{
  border-radius: 0;
  margin: 0%;
  box-shadow: none;
}

fieldset section:nth-child(1) :nth-child(2) {
  border-radius: 0 0 0 10px;
}
fieldset section:nth-child(1), fieldset section:nth-child(3) {
  flex: 1;
}

fieldset section button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: #00B7FF;
  border-radius: 0 5px 5px 0;
  color: #333;
  font-weight: bolder;
  font-size: 18px;
  cursor: pointer;
}

.body-container-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.body-container-row label:nth-of-type(1) {
  width: 95%;
  margin-right: 4%;
}