@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
}
body main .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  min-width: 100%;
} 

body main .input-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  padding: .5rem;
  width: 100%;
  align-items: flex-end;
  background-color: #00000005;
}

body main .input-row :first-child,
body main .input-row#action {
  width: 100%;
}

body main .input-row section {
  display: flex;
  flex-direction: column;
  flex:1;
}

body main .input-row section:nth-child(3) {
  /* flex: 2; */
}
body main .input-row section:last-child {
  flex: 2;
  margin: auto;
}


body main .input-row section label {
  z-index: 1;
  margin: 1rem 0 0 5px;
  color: #0009;
  font-weight: bold;
}

body main .input-row section input,
body main .input-row section select {
  margin-top: -1.25rem;
  margin-bottom: 1rem;
  min-height: 17px;
  background: white;
  border: solid 1px #0004;
  padding: 1.5rem 1rem .25rem;
  transition: all 500ms ease-in-out;
  
}

body main .input-row section input:focus,
body main .input-row section select:focus {
  margin-top: 0;
  padding: .25rem;
}
body main .input-row section input.input-invalid,
body main .input-row section select.input-invalid {
  border: solid 1px red;
  background: rgb(255, 137, 137);
}

body main .input-row section input.input-valid,
body main .input-row section select.input-valid {
  border: solid 1px green;
}

button {
  margin: auto 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  width: auto;
  /* padding: .6rem .2rem .2rem 1.5rem; */
  background-color: blueviolet;
  color: transparent;
  border: none;
  border-radius: 3px;
  transition: all .2s ease-in-out;
  background-position: center;
  padding: .5rem 1rem;
}
button:hover {
  background-color: #8a2be2cc;
  color: #333;
  cursor: pointer;
}
button#save {
  background: url('/images/save.png') no-repeat;
}
button#send-test {
  background: url('/images/send.png') no-repeat;
}

button#add-values {
  background: url('/images/add.png') no-repeat;
}

button#send-test:focus {
  background: url('/images/sent.png') no-repeat;
}

code {
  background-color: #2222;
  border-radius: 3px;
  font-size: 1.2rem;
  max-width: 100%;
  display: block;
  font-family: monospace;
  white-space: break-spaces;
  overflow-wrap: break-word;
}
code[text="function"] {
  background-color: #00B7FF;
  color: #fff;
  border-radius: 3px;
  font-size: 1.2rem;
  display: block;
  white-space: break-spaces;
}

.container .col-8 {
  width: calc((8/12) * 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .col-12 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container .no-wrap {
  flex-wrap: nowrap;
}

.container .col-4 {
  width: calc((4/12) * 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.display-body {
  background-color: #00000005;
  min-width: 100%;
  min-height: 100px;
  max-height: 500px;
  max-width: 100%;
  white-space: break-spaces;
  overflow-y: visible;
  /* margin: 1rem; */
  overflow-y: visible;
  /* padding: 1rem; */
  display: flex;
}
.int-border {
  margin: 2.5%;
  border: solid 1px #fff4;
  min-height: 100%;
  /* min-width: 90%; */
  /* padding: 2.5%; */
}
.int-border,
.display-body {
  border-radius: 4px;

}
.display-body p {
  letter-spacing: 5px;

}
.full-width {
  width: 100%;
}
.light-border {
  border: solid 1px #eee;
  margin: -1px;
}
.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  background-color: #00000015;
}
.toolbar .col-8 {
  padding: 1rem;
  border-left: solid 1px white;
  border-right: solid 1px white;
  justify-content: flex-end;
  background-color: #00000015;

}